html {
  height: 99%;
  width: 100%;
}

body {
  background-color: #ebffe5;
  font-family: monospace;
}

.header{
  width: 98%;
  height: 6%;
  background-color: #49744c;
  padding: 20px 10px;
  margin: auto;
  text-align: center;
  box-shadow: 1px 5px 5px 1px #f0fff7;
  font-size: 20px;
}

.active{
  padding: 10px 150px;
  color: #ffffff;
}

.active:hover{
  background-color: #ffffff;
  color: #77bb85;
}

#slides{
  width: 96.5%;
  height: 900px;
  left: 10px;
  margin: 10px 10px;
}

#planning{
  padding: 10px 10px;
  margin: 10px 18.5px;
  background-color: #fff;
  border: solid 5px #49744c;
  width: 28%;
  height: 500px;
  position: relative;
  left: 2px;
}

#mockup{
  padding: 10px 10px;
  margin: 10px 18.5px;
  background-color: #fff;
  border: solid 5px #49744c;
  width: 28%;
  height: 500px;
  position: relative;
  left: 2px;
}

#wireframe{
  padding: 10px 10px;
  margin: 10px 18.5px;
  background-color: #fff;
  border: solid 5px #49744c;
  width: 28%;
  height: 500px;
  position: relative;
  left: 2px;
}
