html,body{
  height: 99.5%;
  width: 99.9%;
  background-image: linear-gradient(#fff, #f5e5ff);
  font-family: monospace;
}

*{
  box-sizing: border-box;
}

h1{
  font-size: 16px;
}

h2{
  font-size: 14px;
}

h3{
  font-weight: bold;
  text-align: center;
}

.header{
  overflow: hidden;
  background: center fixed #9a88d7;
  position: relative;
  top: -5px;
  margin: 15px;
  padding: 10px 10px;
  text-align: center;
  color: #ffff;
  box-shadow: 1px 3px 1px 1px #704a96;
  font-size: 15px;
}

.active{
  padding: 10px 95px;
  color: #ffffff;
}

.active:hover{
  background-color: #ffffff;
  color: #8f77bb;
}
  
.banner{
  background-image: url(ghost.png);
  background-position: 50% 20%;
  margin: 10px;
  padding: 1px 10px;
  box-shadow: 1px 3px 1px 1px #704a96;
  border: 3px solid #fff;
  height: 150px;
  text-align: right;
  color: #755695;
  font-weight: bold;
  text-shadow: 1px 1px #fff;
}

.container{
  background-image: url(grid_white.jpg);
  background-size: 400px 400px;
  margin-top: 5px;
  left: 1.3%;
  padding: 0px 10px;
  box-shadow: 1px 3px 1px 1px #704a96;
  border: 3px solid #fff;
  text-align: left;
  color: #755695;
  font-size: 20px;
  float: left;
  line-height: 1.5;
  overflow: scroll;
  position: relative;
}

#intro{
  width: 40%;
  height: 33%;
}

#role{
  top: 1%;
  width: 28.5%;
  height: 33%;
  left: 2.5%;
}

#photo{
  top: 1%;
  width: 10%;
  height: 33%;
  padding: 20px 10px;
}


.iframe{
  background-image: url(grid_white.jpg);
  background-size: 400px 400px;
  margin: 5px 20px;
  padding: 5px;
  width: 40%;
  height: 78%;
  box-shadow: 1px 3px 1px 1px #704a96;
  border: 3px solid #fff;
  float: left;
}

.panel_mid{
  background-image: url(ghost.png);
  background-position: 30% 0%;
  margin: 5px 1%;
  width: 13.5%;
  height: 75%;
  box-shadow: 1px 3px 1px 1px #704a96;
  border: 3px solid #fff;
  float: left;
}